*{ padding: 2;
    margin: 2;
}
body{
    background: url(bg_img.jpeg) no repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
        position: relative;
        margin-top: 100px;
        width: 400px;
        height: auto;
        background: blue;
        border-radius: 10px;
}

.label{
        padding: 40px 120px;
        font-size: 35px;
        font-weight: bold;
        color: blueviolet;
}

.login_form{
            padding: 20px 40px;

}
.login_form{
            font-size: 18px;
            color: rgb(248, 84, 84);
            margin: 5px 0;
}

.login_form input{
            height: 40px;
            width: 350px;
            padding: 0 5px;
            font-size: 18px;
            outline: rgb(56, 1, 47);
            border: 2px goldenrod;
        }
