.container{
    background-color: bisque;
    min-height: 100vh;
    padding: 50px;
}

.modal{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

